<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
      
    <div class="container" style="margin:10% auto">
        <h1 class="text-center">Crawler</h1>
        <div class="container" style="padding: 20px 0">
            <form method="POST" action="/">
                <div class="form-group">
                    <input type="url" name="url" id="url" class="form-control text-center" placeholder="URL" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)">
                    <!--<div class="center-text"><small class="text-muted">Type a URL to crawl and press Enter...</small></div>-->
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block">Check</button>
            </form>
        </div>

        {{#if haserr}}
            <div class="alert alert-danger lead text-center">{{count}} errors found</div>
        {{else}}
            {{#if count}}
                <div class="alert alert-success lead text-center">{{count}} errors found</div>
            {{/if}}
        {{/if}}
        
        {{#each words}}
        <ul class="list-group">
            <li class="list-group-item alert alert-danger">{{this}}</li>
        </ul>
        {{/each}}

        <p>{{marker}}</p>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>